<div class="container px-0">
  <div class="row mb-4">
    <div class="col">
      <ul class="nav nav-underline justify-content-center">
        <li
          class="nav-item"
          *ngFor="let side of sides"
          routerLinkActive="active"
        >
          <a class="nav-link" [routerLink]="'/characters/' + side">{{
            side.toUpperCase()
          }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
