<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-underline justify-content-center my-5">
        <li class="nav-item" *ngFor="let side of sides">
          <a
            class="nav-link"
            [ngClass]="{ active: selectedTab === side }"
            (click)="onSelectedTab(side)"
            >{{ side.toUpperCase() }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-list
        [characters]="getCharacters()"
        [sides]="sides.slice(1)"
        (sideButtonClicked)="onSideButtonClicked($event)"
      ></app-list>
    </div>
  </div>
</div>
